In [1]:
#Q.NO:1
l=[1,2,3,4,5,6,7]
for i in range(0,len(l)):
  if (l[i] % 2) != 0:
    print("the odd number is :",l[i])

the odd number is : 1
the odd number is : 3
the odd number is : 5
the odd number is : 7

In [2]:
#Q.NO:2
l1=[2,4,6,8,3]
total =0
for i in range(0,len(l1)):
  total = total  + l1[i]
print(total)

23

In [3]:
#Q.NO:3
l2=[1,2,3,4,5,6]
l2.reverse()
print("reverse list: ", list(l2))

reverse list:  [6, 5, 4, 3, 2, 1]

In [5]:
#Q.NO:4
my_numbers = [10, 8, 3, 22, 33, 7, 11, 100, 54]
x=len(my_numbers)
my_numbers.sort()
print(my_numbers[x-2])
print(my_numbers[x-1])

54
100

In [6]:
#Q.NO5
my_numbers = [10, 8, 3, 22, 33, 7, 11, 100, 54]
my_numbers.sort()
print("The second highest number is: ",my_numbers[x-2])

The second highest number is:  54

In [7]:
#Q.NO6
lis=["d","c","a","b"]
lis.sort()
print(lis)
lis.reverse()
print("reverse list: ", list(lis))

['a', 'b', 'c', 'd']
reverse list:  ['d', 'c', 'b', 'a']

In [9]:
#Q.NO7
k=input("enter the characters: ")
#k="gig"
p=""
for check in k:
 if check not in p:
   p=p+check
print(p)

enter the characters: ghighjk
ghijk

In [10]:
#Q.NO:8
ch=input("eneter the character: ")
if (ch == 'a') | (ch == 'e') | (ch == 'o') | (ch == 'u') | (ch == 'i' ):
   print("The given character is ",ch , "vowel")
else:
  print("The given character is ",ch , "consonant")

eneter the character: u
The given character is  u vowel

In [11]:
#Q.NO9
fact=int(input("enter the number  to find the factorial: "))
i=1
#print(fact)
for j in range(1,fact+1):
  i=i*j
print("The factorail of " , fact,"is",i)

enter the number  to find the factorial: 6
The factorail of  6 is 720

In [12]:
 #Q.NO:10
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]

test_list3 = test_list3 + test_list4
print ("merged list is: ",str(test_list3))

merged list is:  [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]